@charset "utf-8";

@import url("../mixin.less");
@Fh2Width : 290px;
@dtWidth : 80px;
@fPdTop : 86px;

#footer {
	position: relative;
	z-index: 2;
	border-top: 1px solid @num;
	padding: @fPdTop 0 188px;
	font-size: 15px;
	line-height: 1;
	.area-flex {
		position: relative;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}
	h2 {
		float: left;
		width: @Fh2Width;
		@media (max-width: @tablet) {
			width: 100%;
			float: none;
		}
		@media (max-width: @mobile) {
			img {
				width: 140px;
			}
		}
	}
	address {
		float: left;
		width: calc(~"100% -" @Fh2Width);
		overflow: hidden;
		@media (max-width: @tablet) {
			width: 100%;
			float: none;
			margin-top: 28px;
		}
		@media (max-width: @mobile) {
			font-size: 12px;
		}
	}
	dl {
		overflow: hidden;
		line-height: 1.6;
	}
	dt {
		width: @dtWidth;
		float: left;
		font-weight: bold;
		@media (max-width: @mobile) {
			@dtWidth : 70px;
			width: @dtWidth;
		}
	}
	dd {
		width: calc(~"100%" - @dtWidth);
		float: left;
		font-family: @noto;
		margin-bottom: 12px;
	}
	.copy {
		position: absolute;
		right: 0;
		top: 0;
		font-family: @noto;
		color: @fog;
		font-weight: 300;
		clear: both;
		@media (max-width: @desktop) {
			position: relative;
			margin-top: 20px;
		}
		@media (max-width: @mobile) {
			font-size: 12px;
		}
	}
	.sns {
		margin-top: 20px;
		li {
			display: inline-block;
			margin-right: 4px;
		}
		@media (max-width: @mobile) {
			margin-top: 10px;
			img {width: 24px;}
		}
	}
	.lang {
		position: absolute;
		bottom: 0;
		right: 0;		
		li {
			display: inline-block;
			&:first-child {
				content: "";
				border-right: 1px solid @fog;
				padding-right: 4px;
			}
		}
		a {
			color: @fog;			
		}
		@media (max-width: @mobile) {
			font-size: 12px;
			right: 24px;
		}
	}
	#topScroll {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -@fPdTop - 25px;
		width: 50px;
		height: 50px;
		line-height: 60px;
		background: url("../images/top.png") @point no-repeat center 12px;
		font-size: 13px;
		text-align: center;
		color: #fff;
		.cursor;
	}
	@media (max-width: @mobile) {		
		@fPdTop : 40px;
		padding: @fPdTop 0 60px;
		#topScroll {
			right: 24px;
			width: 40px;
			height: 40px;
			background: url("../images/top.png") @point no-repeat center 10px;
			font-size: 11px;
			line-height: 50px;
			margin-top: -@fPdTop - 25px;
		}
	}
}