@charset "utf-8";

@import url("../mixin.less");

.full-visual-container {
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.fsc-wrap {
	display: table-cell;
	vertical-align: bottom;
	text-align: left;
	.slash-img {
		margin: 15px 0 15px;
		@media (max-width: @mobile) {
			width: 9px;
		}
	}
}

.page-sub {
	padding: 140px 0;
	font-size: 16px;
	font-family: @noto;
	word-break: keep-all;
	.sub {
		font-size: 20px;
		font-weight: 300;
	}
	.tit {
		font-size: 40px;
		margin: 8px 0 32px;
		word-break: keep-all;
	}
	@media (max-width: @mobile) {
		padding: 56px 0 62px;
		font-size: 14px;
		.sub {
			font-size: 14px;
			font-weight: 300;
		}
		.tit {
			font-size: 26px;
			margin: 8px 0 16px;
		}
	}
}