@charset "utf-8";

@import url("../mixin.less");
/* + Header */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 70px 0;
	z-index: 100;
	transition: all .5s;
	.area-flex {
		position: relative;
	}
}

h1 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	a {
		display: inline-block;
		padding: 18px 0 16px;
	}
	@media (max-width: @tablet) {
		position: relative;
		a {
			padding: 14px 0 10px;
		}
	}
}

.if_top {
  background: rgba(0, 0, 0, 0);
  padding: 30px 0;
	@media (max-width: @tablet) {
		padding: 10px 0;
		h1 img{
			width: 140px;
		}
	}
}

.if_scroll {
  background: rgba(0, 0, 0, .7);
  padding: 8px 0;
  color: rgba(50, 50, 50, 1);
	@media (max-width: @tablet) {
		background: @ifScroll;
		padding: 0;
		h1 img{
			width: 140px;
		}
	}
	a {
		color: #fff;
	}
}

#gnb {
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	ul {
		font-size: 0;
	}
	li {
		position: relative;
		display: inline-block;
		font-size: 13px;
		ul {
			position: absolute;
			display: none;
			top: 100%;
			left: 50%;
			min-width: 150px;
			transform: translateX(-50%);
			text-align: left;
			white-space: nowrap;
			padding: 10px 0;
			background-color: rgba(0, 0, 0, 0.8);
			border: 1px solid #303030;
			li {
				display: block;
				font-size: 14px;
			}
			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 100%;
				height: 4px;
				width: 100%;
				background-color: @point;
				border-left: 1px solid @point;				
				border-right: 1px solid @point;
				margin-left: -1px;
			}
			a {
				padding: 10px 27px;		
				color: #fff;
			}
		}
		&.active, &:hover {
			>a {
				opacity: 1;
				color: #fff;
			}
		}
		&:hover {
			>a {
				opacity: 1;
				color: #fff;
			}
			ul {
				display: block;
			}
		}
	}
	a {
		display: inline-block;
		padding: 18px 27px;
		opacity: .5;		
		.spacing;
		@media (max-width: @desktop) {
			padding: 18px 17px;
		}
	}
	.mobile-show {
		display: none;
		@media (max-width: @mobile) {
			display: block;
		}
	}
	@media (max-width: @desktop) {
    text-align: right;
  }
	@media (max-width: @tablet) {
		display: none;
	}
}

// mobile gnb
.m-gnb {
	position: fixed;
	right: -100vw;
	top: 0;
	z-index: 11;
	width: calc(~"100vw - 80px");
	display: none;
	height: 100vh;
	font-family: @poppins;
	font-weight: 200;
	background: @ifScroll no-repeat bottom;
	transition: right .6s;
	@media (max-width: @tablet) {
		display: block;
	}
	ul {
		padding: 20px 0;
		font-size: 15px;
		li {
			&.active {
				>a, span {
					opacity: 1;
				}
				ul {
					padding: 14px 0;
					margin: 10px 0;
					height: auto;
				}
			}
		}
		a, span {
			display: inline-block;
			width: 100%;
			opacity: .5;
			padding: 14px 40px;
			text-transform: uppercase;
			transition: opacity .4s;
			color: #fff;
			cursor: pointer;
			.spacing;
			&:hover {
				opacity: 1;
			}
		}
		ul {
			padding: 0;
			margin: 0;
			height: 0;
			background: @mGnb;
			overflow: hidden;
			transition: all .4s;
			a {
				padding: 7px 40px;
				font-size: 14px;
			}
		}
		.lang {
			position: relative;
			font-size: 14px;
			margin-top: 20px;
			padding-top: 20px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 40px;
				top: 0;
				width: 30px;
				height: 1px;
				background: @more;
			}
		}
	}
	&.m-show {
		right: 0;
	}
}

.side {
  display: none;
	position: absolute;
	right: 26px;
	top: 14px;
	width: 30px;
	height: 20px;
	z-index: 20;
	@media (max-width: @tablet) {
		display: block;
	}
}
.side-layer {
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	position: relative;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	&:after, &:before {
		display: block;
		width: inherit;
		height: 2px;
		position: absolute;
		background: inherit;
		left: 0;
		content: '';
		animation-duration: 300ms;
		animation-timing-function: ease-in-out;
	}
	&:before {
		bottom: 350%;
	}
	&:after {
		top: 350%;
		width: 60%;
		left: auto;
		right: 0;
	}
}

.side-to {
	animation-name: side-slide;
	animation-fill-mode: forwards;
	&:before {
		animation-name: side-slide-before;
		animation-fill-mode: forwards;
	}
	&:after {
		animation-name: side-slide-after;
		animation-fill-mode: forwards;
	}
}
.side-from {
	animation-name: side-slide-from;
	&:before {
		animation-name: side-slide-before-from;
	}
	&:after {
		animation-name: side-slide-after-from;
	}
}
@keyframes side-slide {
	0% {}
	100% {
		transform: rotate(180deg);
		background: transparent;
	}
}
@keyframes side-slide-before {
	0% {}
	100% {
		transform: rotate(-45deg);
		margin: -7px 35%;
		width: 75%;
		left: auto;
		right: 0;
		background: #fff;
	}
}
@keyframes side-slide-after {
	0% {}
	100% {
		transform: rotate(45deg);
		margin: -7px 35%;
		width: 75%;
		background: #fff;
	}
}
@keyframes side-slide-from {
	0% {
		transform: rotate(180deg);
		background: #fff;
	}
	100% {}
}
@keyframes side-slide-before-from {
	0% {
		transform: rotate(45deg);
		margin: -6px 35%;
		width: 75%;
		background: #fff;
	}
	100% {}
}
@keyframes side-slide-after-from {
	0% {
		transform: rotate(180deg);
		margin: -6px 35%;
		width: 75%;
		background: #fff;
	}
	100% {}
}
/* - Header */