@charset "utf-8";

@import url("mixin.less");
@import url("slick-theme.less");
@import url("slick.less");

@import url("global/header.less");
@import url("page/main.less");
@import url("global/fsVisual.less");
@import url("global/footer.less");

.video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

// mobile
.mobile-show {
	display: none;
	@media (max-width: @mobile) {
		display: block;
	}
}

.mobile-hidden {
	display: block;
	@media (max-width: @mobile) {
		display: none;
	}
}

i.mobile-hidden {
	.mobile-hidden;
	display: inline-block;
}