@charset "utf-8";

@import url("mixin.less");
@import url("slick-theme.less");
@import url("slick.less");
// hidden-heading
.h-heading {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.img-url {
	background-position: center;
}

@import url("global/header.less");

#main {

}
@import url("page/main.less");

@import url("global/fsVisual.less");

@import url("global/footer.less");

// mobile
.mobile-show {
	display: none;
	@media (max-width: @mobile) {
		display: block;
	}
}

.mobile-hidden {
	display: block;
	@media (max-width: @mobile) {
		display: none;
	}
}

i.mobile-hidden {
	.mobile-hidden;
	display: inline-block;
}